<!DOCTYPE html>
<html>

<head>
  <title>TailwindDemo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'  %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <%= render "layouts/navbar" %>
  </header>
  <section class="m-2">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="bg-<%= name.to_s == 'notice' ? 'green-100' : 'red-100'%>">
          <p><%= msg %></p>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </section>
</body>

</html>
